<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1> Library DB </h1>
		<form action='/login' method='POST'>
			<div class='form-group row'>
				<label for='firstname' class='col-sm-4 col-form-label'>Username</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='username' name='username' placeholder='username' required>
				</div>
			</div>
			<div class='form-group row'>
				<label for='lastname' class='col-sm-4 col-form-label'>Password</label>
				<div class='col-sm-4'>
					<input type='password' class='form-control' id='password' name='password' placeholder='password' type='password' required>
				</div>
			</div>
			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<button class='btn btn-primary btn-block'>Login</button>
					<%if(loginError){%>
			            <h1 class='col-sm-12 notfound'>Incorrect Credentials!</h1>
			        <%}%>
				</div>
				<div class='col-sm-4'></div>
			</div>
		</form>
	</div>
	<a class='btn btn-primary' href='/register'>New Account</a>
</div>
<%- include ('templates/footer'); -%>