<!DOCTYPE html>
<html>
  <head>
    <title>Library DB</title>
    <link rel='stylesheet' type='text/css' href='css/app.css'>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    
<!--Implement the nav bar -->
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Library Database Checkout</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Search</a></li>
      <li><a href="/myRentals"> myRentals </a></li>
      <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register </a></li>
      <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
    </ul>
  </div>
</nav> 